{% for table in iptables.keys() %}
*{{ table }}
{% for chain in iptables[table].keys() %}
:{{ chain }} {{ iptables[table][chain]['policy'] }} [0:0]
{% endfor %}
{% for chain in iptables[table].keys() %}
{% for rule in iptables[table][chain]['rules'] %}
-A {{ chain }} {{ rule }}
{% endfor %}
{% endfor %}
COMMIT
{% endfor %}
