{% for table in ip6tables.keys() %}
*{{ table }}
{% for chain in ip6tables[table].keys() %}
:{{ chain }} {{ ip6tables[table][chain]['policy'] }} [0:0]
{% endfor %}
{% for chain in ip6tables[table].keys() %}
{% for rule in ip6tables[table][chain]['rules'] %}
-A {{ chain }} {{ rule }}
{% endfor %}
{% endfor %}
COMMIT
{% endfor %}
